@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400;1,500&display=swap');
/*
font-family: 'Roboto', sans-serif;
*/

@font-face {
    font-family: 'Destaque', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    src: url(fonts/SF\ Proverbial\ Gothic\ Extended\ Oblique.ttf) format('truetype');
}



:root {
    --cor0: #E0F2E9;
    --cor1: #6E6E73;
    --cor2: #F9C80E;
    --cor3: #0A0909;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url(imagens/img_apple.jpg);
    background-position: left;
    background-size: cover;
}

header {
    height: 170px;
    text-align: center;
    font-family: 'destaque', sans-serif;
    background-color: var(--cor0);
}

header h1 {
    margin: 0px;
    padding: 0px;
    color: var(--cor3);
    font-family: 'Destaque', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header p {
    text-align: center;
    font: bold 15pt 'destaque', sans-serif;
    color: var(--cor3);
}

nav {
    margin-top: 45px;
    padding: 10px;

}

nav a {
    text-decoration: none;
    color: var(--cor2);
    font: bolder 1.2em  'Roboto', sans-serif;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.356);

}

nav a:hover {
    border: 10px ;
    border-radius: 5px;
    padding:3px;
    background-color: #6e6e73a2;
    transition: 0.5s;
    
}

main {
    width: 1000px;
    margin: auto;
    padding: 30px;
    background-image: linear-gradient(to bottom, var(--cor1) 60%, var(--cor3));
}
h2 {
    margin-left: 0px;
    color:var(--cor2);
    font-family: 'Roboto', sans-serif;
    font-size: 17pt;
}

article p {
    color: var(--cor0);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 25pt;
    text-align: justify;
}

ul {
    color: var(--cor2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 20pt;
}